/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.mdFrame-container {
  width: 900px;
  height: 730px;
  overflow: hidden;
}

.mdFrame-container iframe {
  width: 900px;
  height: 850px;
  margin-top: -120px;
}

/*.mdFrame-container iframe > html > body > cws-root > cws-header > div {*/
  /*background-color: #888888 !important;*/
/*}*/

/*.white-container {*/
  /*display: none !important;*/
/*}*/